body{
    background-color: blanchedalmond;
}

h1{
    font-size: 20px;
    color: burlywood;
}

h2{
    font-size: 18px;
    font-weight: bold;
    color: aqua;
}

p{
    font-size: 16px;
    color: black;
    display: block;
    width: 60%;
    border: solid 2px white;
    
}